<div id="<%= dom_id teachers_teach_branch %>">
  <p>
    <strong>Teacher:</strong>
    <%= teachers_teach_branch.teacher_id %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= teachers_teach_branch.branch_id %>
  </p>

</div>
