<h1>Editing teachers teach branch</h1>

<%= render "form", teachers_teach_branch: @teachers_teach_branch %>

<br>

<div>
  <%= link_to "Show this teachers teach branch", @teachers_teach_branch %> |
  <%= link_to "Back to teachers teach branches", teachers_teach_branches_path %>
</div>
