<div id="<%= dom_id grade_assignment %>">
  <p>
    <strong>Student:</strong>
    <%= grade_assignment.student_id %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= grade_assignment.grade_id %>
  </p>

</div>
