<div id="<%= dom_id schoolclasses_contain_student %>">
  <p>
    <strong>School class:</strong>
    <%= schoolclasses_contain_student.school_class_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= schoolclasses_contain_student.student_id %>
  </p>

</div>
