<h1>Editing schoolclasses contain student</h1>

<%= render "form", schoolclasses_contain_student: @schoolclasses_contain_student %>

<br>

<div>
  <%= link_to "Show this schoolclasses contain student", @schoolclasses_contain_student %> |
  <%= link_to "Back to schoolclasses contain students", schoolclasses_contain_students_path %>
</div>
