<div id="<%= dom_id grades_evaluate_branch %>">
  <p>
    <strong>Evaluation date:</strong>
    <%= grades_evaluate_branch.evaluation_date %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= grades_evaluate_branch.grade_id %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= grades_evaluate_branch.branch_id %>
  </p>

</div>
