<h1>New grades evaluate branch</h1>

<%= render "form", grades_evaluate_branch: @grades_evaluate_branch %>

<br>

<div>
  <%= link_to "Back to grades evaluate branches", grades_evaluate_branches_path %>
</div>
